.nav {
    position: fixed;
    top: 0;
    right: 0;
    display: inline;
    padding-top: 10px;
    padding-right: 10px;
}

.welcome-popup {
    display: none;
    width: 400px;
    background-color: white;
    z-index: 1;
    position: absolute;
    transform: translate(0, 80%);
    border-radius: 2px;
    box-shadow: 0px 0px 10px;
}

.logout-btn {
    background-color: #627055;
    border-style: none;
    color: white;
    border-radius: 3px;
    height: 30px;
    width: 70px;
}

.signin-popup, .signup-popup {
    margin-top: 250px;
    display: none;
    width: 400px;
    background-color: white;
    z-index: 1;
    position: absolute;
    border-radius: 2px;
    box-shadow: 0px 0px 10px;
}

.signup-error, .login-error {
    color: red;
}

.header-container h1 {
    font-size: 70px;
    margin-bottom: -20px;
    color: white;
    text-shadow: 1px 1px black;
}

.header-container p {
    color: white;
    text-shadow: 1px 1px black;
    font-weight: bolder;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman';
}

body {
    text-align: center;
    background-color: #9caf889c; 
}

.new-bookbtn {
    background-color: #794e59;
    border-style: none;
    padding: 10px;
    color: white;
    margin-top: 10px;
    border-radius: 3px;
}

button:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.library-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    grid-row-gap: 50px;
    padding-top: 20px;
}

.book {
    background: #b38158;
    height: 240px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 3px 1px 3px #424242, inset -1px 1px 2px rgba(255, 255, 255, 0.5);
}

.book-info {
    display: inline-block;
    text-align: center;
    white-space: pre-wrap;
    color: white;
    font-weight: bolder;
    overflow-wrap: break-word;
    min-width: 1%;
}

.book-buttons {
    width: 200px;
    padding-top: 10px;
}

.book-buttons .deletebtn, .book-buttons .readbtn {
    background-color: #627055;
    border-style: none;
    color: white;
    border-radius: 3px;
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 30px;
    width: 70px;
}

.book-buttons .deletebtn:hover {
    background-color: #6d0d25;
}

.book-container {
    width: 200px;
    text-align: center;
}

.popup-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.form-popup {
    display: none;
    width: 400px;
    background-color: white;
    z-index: 1;
    position: absolute;
    transform: translate(0, 12%);
    border-radius: 2px;
    box-shadow: 0px 0px 10px;
}

.form-container, .signin-container, .signup-container, .welcome-container {
    position: relative;
    width: 250px;
    text-align: center;
    margin: auto;
    background-color: white;
}

.form-container input, .signin-container input, .signup-container input {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px 0 22px 0;
    border: 1px solid black;
    background: white;
}

.submit {
    background-color: #627055;
    color: white;
    padding: 16px 20px;
    border: none;
    margin-bottom:10px;
    border-radius: 3px;
    width: 90px;
}

.submit-book {
    background-color: #627055;
    color: white;
    padding: 16px 20px;
    border: none;
    margin-bottom:10px;
    border-radius: 3px;
}

input[type='checkbox'] {
    width: 10px;
}
input[type='checkbox'] + label {
    width: 10px;
}

.cancel, .cancel-login {
    background-color: #6d0d25;
    color: white;
    padding: 16px 20px;
    border: none;
    margin-bottom:10px;
    border-radius: 3px;
}

.popup-selected {
    opacity: .5;
    pointer-events: none;
}

