h1 {
    text-align: center;
}

body {
    text-align: center;
}

#book-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.book {
    text-align: center;
    white-space: pre-wrap;
    background: cornflowerblue;
    height: 230px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.book-buttons {
    justify-content: center;
    width: 200px;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
}

.book-info {
    width: 200px;
    text-align: center;
}

.form-popup {
    display: none;
    text-align: center;
    margin: auto;
    width: 300px;
    border: 3px solid #f1f1f1;
    background-color: lightblue;
}

.form-container {
    width: 200px;
    text-align: center;
    margin: auto;
    background-color: lightblue;
}

.form-container input {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px 0 22px 0;
    border: none;
    background: white;
}

.form-container input:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    margin-bottom:10px;
    opacity: 0.8;
}

input[type='checkbox'] {
    width: 10px;
}
input[type='checkbox'] + label {
    width: 10px;
}

.form-container .cancel {
    background-color: red;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
  